<!-- .flet/android/app/src/main/AndroidManifest.xml -->
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- 注意：不需要重复声明 MainActivity，只声明 Service -->
        <service 
            android:name=".MyForegroundService"
				    android:enabled="true"
				    android:exported="false"
				    android:foregroundServiceType="location|microphone" />
    </application>
</manifest>